{% extends 'base.jinja2' %}

{% block subtitle %}Donate Page{% endblock subtitle %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Donation Adding</legend>
                <div class="form-group">
                    {{ form.donor.label(class="form-control-label") }}
                    {{ form.donor.label(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.amount.label(class="form-control-label") }}
                    {{ form.amount.label(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
